@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');

/*
var(--primary--orange);
var(--neutral--white);
var(--neutral--light-gray);
var(--neutral--medium-gray);
var(--neutral--dark-blue);
var(--neutral--very-dark-blue);
*/

:root {
    font-size: 62.5%;
    margin: 0;
    padding: 0;
    --primary--orange: hsl(25, 97%, 53%);
    --neutral--white: hsl(0, 0%, 100%);
    --neutral--light-gray: hsl(217, 12%, 63%);
    --neutral--medium-gray: hsl(216, 12%, 54%);
    --neutral--dark-blue: hsl(213, 19%, 18%);
    --neutral--very-dark-blue: hsl(216, 12%, 8%);
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Overpass', sans-serif;
    font-size: 1.4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    overflow: hidden;
    margin: 0;
    background-color: var(--neutral--very-dark-blue);
}

.display--none {
    display: none;
}

.container {
    display: flex;
    flex-direction: column;
    background-color: #262e38;
    margin-left: 2rem;
    margin-right: 2rem;
    border-radius: 20px 20px 20px 20px;
    max-width: 40rem;
}

.inner--container--margin--star {
    margin-top: 2rem;
    margin-left: 2rem;
}

.inner--container--margin {
    margin-left: 2rem;
}

.star--padding {
    padding: 1.2rem;
}

.image--border {
    background-color: #3c434c;
    border-radius: 50%;
    box-shadow: 1px 1px 20px rgba(39, 27, 34, 0.8);
}

.bright--white {
    color: var(--neutral--white);
    font-size: 2rem;
}

.main--paragraph--text {
    max-width: 85%;
    color: var(--neutral--medium-gray);
    font-weight: 400;
}

.ratings--container {
    margin-top: 2rem;
    display: flex;
    justify-content: space-evenly;
}

.ratings--container input {
    display: none;
}

.ratings--container input + label {
    font-size: 2rem;
    cursor: pointer;
    background-color: #3c434c;
    border-radius: 50%;
    padding: 1rem 1.8rem;
    color: white;
}

.ratings--container input:checked + label {
    background-color: var(--neutral--light-gray);
}

.ratings--container input + label:hover {
    background-color: var(--primary--orange);
}

button {
    cursor: pointer;
}

.btn {
    border-style: none;
    padding-top: 1.3rem;
    padding-bottom: 1.3rem;
    padding-left: 1.7rem;
    padding-right: 1.7rem;
    color: var(--neutral--medium-gray);
    transition-duration: 0.7secs;
}

.btn:hover {
    background-color: var(--primary--orange);
    color: var(--neutral--white);
}

.active {
    background-color: var(--neutral--medium-gray);
    color: var(--neutral--white);
}

.submit--btn--container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;
}

.btn--submit {
    background-color: var(--primary--orange);
    border-style: none;
    border-radius: 20px 20px 20px 20px;
    padding-top: 1.1rem;
    padding-bottom: 1.1rem;
    padding-left: 13rem;
    padding-right: 13rem;
    color: var(--neutral--white);
    font: inherit;
    text-transform: uppercase;
    font-size: 1.5rem;
    letter-spacing: 0.2rem;
    font-weight: 500;
    transition-duration: 0.7secs;
    box-shadow: 1px 1px 20px rgba(39, 27, 34, 0.8);
    margin-bottom: 3rem;
}

.btn--submit:hover {
    background-color: var(--neutral--white);
    color: var(--primary--orange);
}

.thank--you--image--container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.thank--you--image--container img {
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.dynamic--rating--container {
    display: flex;
    justify-content: center;
    color: var(--primary--orange);
}

.dynamic--border {
    background-color: #3c434c;
    border-radius: 20px 20px 20px 20px;
    padding-top: 1rem;
    padding-bottom: 0.7rem;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
}

.thank--you--container {
    display: flex;
    justify-content: center;
}

h1 {
    color: var(--neutral--white);
    font-weight: 400;
    padding-bottom: 0;
    margin-top: 3rem;
    margin-bottom: 1rem;
}

.thank--you--message--container {
    margin-left: 3rem;
    margin-right: 3rem;
    color: var(--neutral--medium-gray);
    margin-bottom: 3rem;
    text-align: center;
    max-width: 40rem;
}

.attribution {
    font-size: 11px;
    text-align: center;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}
