@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');

/*
var(--primary--orange);
var(--neutral--white);
var(--neutral--light-gray);
var(--neutral--medium-gray);
var(--neutral--dark-blue);
var(--neutral--very-dark-blue);
*/

:root {
    font-size: 62.5%;
    margin: 0;
    padding: 0;
    --primary--orange: hsl(25, 97%, 53%);
    --neutral--white: hsl(0, 0%, 100%);
    --neutral--light-gray: hsl(217, 12%, 63%);
    --neutral--medium-gray: hsl(216, 12%, 54%);
    --neutral--dark-blue: hsl(213, 19%, 18%);
    --neutral--very-dark-blue: hsl(216, 12%, 8%);
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Overpass', sans-serif;
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    overflow: hidden;
    margin: 0;
    background-color: var(--neutral--very-dark-blue);
}

.container {
    display: flex;
    flex-direction: column;
    background-color: #262e38;
    margin-left: 2rem;
    margin-right: 2rem;
    border-radius: 5%;
}

.inner--container--margin--star {
    margin-top: 2rem;
    margin-left: 2rem;
}

.inner--container--margin {
    margin-left: 2rem;
}

.star--padding {
    padding: 1.2rem;
}

.image--border {
    background-color: #3c434c;
    border-radius: 50%;
}

.bright--white {
    color: var(--neutral--white);
    font-size: 2rem;
}

.main--paragraph--text {
    max-width: 85%;
    color: var(--neutral--medium-gray);
    font-weight: 400;
}

.ratings--container {
    margin-top: 2rem;
    display: flex;
    justify-content: space-around;
    color: var(--neutral--medium-gray);
}

.btn {
    border-style: none;
    padding-top: 1.3rem;
    padding-bottom: 1.3rem;
    padding-left: 1.7rem;
    padding-right: 1.7rem;
    color: var(--neutral--medium-gray);
    transition-duration: 0.4secs;
}

.btn:hover {
    background-color: var(--primary--orange);
}

.btn--submit {
    margin-top: 2rem;
}

.attribution {
    font-size: 11px;
    text-align: center;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}
